{% extends 'generic.html' %}

{% block content %}
<div id="main" class="container">
	<div class="row 200%">
		<div class="6u 12u$(medium)">
			<h3>Классификатор</h3>
			<form method="post" action="#">
				<div class="row uniform">
					<div class="9u 12u$(small)">
						<input type="text" name="query_classifier" id="query_classifier" value="" placeholder="Фильтр" />
					</div>
				</div>
			</form>
			{% for item in classifier %}
			{% if item['level'] == 0 %}
			<spacer width="{{ item['level'] * 10 }}"/>
			<div class="6u$ 12u$(small)">
				<input type="checkbox" id="chb_cls_{{ loop.index }}" name="chb_cls_{{ loop.index }}">
				<label for="chb_cls_{{ loop.index }}">{{ item['name']|e }}{% if item['count'] > 1 %} [{{ item['count'] }}] {% endif %}</label>
			</div>
			<!-- Break -->			
			{% endif %}
			{% endfor %}
		</div>
		
		<div class="6u 12u$(medium)">
			<h3>Датасеты</h3>
			<!-- Break -->
			<!-- Break -->
		</div>
	</div>
</div>
{% endblock %}